<div [ngClass]="{bdr:true,bgclr:true}">
    Directives are the fundamental concepts in angular 
    that help us to add or modify the behavior or 
    appearance of HTML elements. They help us to 
    modify DOM behavior, user functionality, and 
    customizing components.

</div>
<div [ngClass]="{bdr:false,bgclr:true}">
    Directives are the fundamental concepts in angular 
    that help us to add or modify the behavior or 
    appearance of HTML elements. They help us to 
    modify DOM behavior, user functionality, and 
    customizing components.
</div>


<div [ngClass]="{bdr:true,bgclr:false}">
    Directives are the fundamental concepts in angular 
    that help us to add or modify the behavior or 
    appearance of HTML elements. They help us to 
    modify DOM behavior, user functionality, and 
    customizing components.
</div>




















<!-- <div style="text-align: center;">
    <h3> Directive Demo</h3>
    <div><h1>Hiiii Dev 1 </h1></div>
    <div *ngIf="false"><h1>Hiiii Dev 2 </h1></div>
    <div *ngIf="abc"><h1>Hiiii Dev 3 </h1></div>

    <input type="submit" (click)="employees()">
    <ul *ngFor="let employee of emp ">
        <li>{{employee}}</li>
    </ul>
    <p *ngFor="let employee of emp ">
            {{employee}}
    </p>
    <input type="text" #fruit>
    <input type="submit" (click)="addFruid(fruit.value)">
    <p *ngFor="let f of fruits ">
        {{f}}
    </p>

    <div [ngSwitch]="selectedColor">
    <p *ngSwitchCase="'red'">You selected RED</p>
    <p *ngSwitchCase="'green'">You selected GREEN</p>
    <p *ngSwitchCase="'blue'">You selected BLUE</p>
    <p *ngSwitchDefault>Please select a color</p>
    </div>
    <select (change)="selectedColor = $event.target.value">
        <option value="">Select Color</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
</div>
 -->
